/*=============================
    Font Import
==============================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&display=swap");

:root {
    --primary-color: #171821;
    --link-color: #e4e3e5;
    --border-color: #404040;
    --secondary-color: #a9dfd8;
    --primary-light-color: #22222c;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: var(--link-color);
}
li {
    list-style: none;
}
