.navbar {
    position: fixed;
    top: 0;
    z-index: 111;
}

.chatbox-body {
    display: flex;
}
.left-sidebar {
    position: fixed;
    min-width: 25%;
    min-height: 100%;
    border-right: 1px solid #ddd;
    background-color: #fff;
    z-index: 1;
}
.right-sidebar {
    position: fixed;
    width: 25%;
    left: 75%;
    background-color: #fff;
    z-index: 1;
    min-height: 100%;
}
.chatbox {
    position: absolute;
    left: 25%;
    width: 50%;
}
.account {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}
.chat-friends {
}
.single-chat-head {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.single-chat-head .username {
    font-weight: bold;
}
.single-chat-head .email {
    font-size: 14px;
}
.single-chat-head:hover {
    background-color: #ddd;
}
.user-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.user-image img {
    width: 100%;
}

.message-input {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    padding: 10px 20px;
    width: 50%;
}
.message-input input {
    width: 90%;
    padding: 10px;
}
.all-message {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 100px;
    margin-bottom: 80px;
    overflow: auto;
    position: relative;
}

.own-message {
    display: flex;
    width: 100%;

    justify-content: end;
    margin-bottom: 10px;
}
.own-message p {
    margin-right: 20px;
    background-color: #00296b;
    color: #fff;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.other-message {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-bottom: 10px;
}
.other-message p {
    margin-left: 20px;
    background-color: #ddd;
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.navbar span {
    visibility: hidden;
}
.profile-area {
    position: fixed;
    display: flex;
    background-color: #fff;
    width: 200px;
    flex-direction: column;
    top: 0;
    align-items: center;
}
.back-button {
    display: flex;
    align-items: center;
    color: #fff;
    width: 10%;
}
.back-button span {
    margin-right: 10px;
    visibility: visible;
}
.nav-buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1000px) {
    .navbar span {
        visibility: visible;
    }
    .all-message {
        margin-bottom: 80px;
    }
    .message-input {
        width: 100%;
    }
    .left-sidebar {
        width: 100%;
        position: fixed;
        left: -100%;
    }
    .chatbox {
        left: 0;
        width: 100%;
    }
    .right-sidebar {
        width: 100%;
        position: fixed;
        left: 100%;
    }
    .activeLeft,
    .activeRight {
        left: 0;
    }
}
