/*=============================
    Font Import
==============================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

/*=============================
    Common Css
==============================*/

:root {
    --color-info-dark: #7d8da1;
    --color-primary-paste: #00296b;
    --color-light-paste: #c2daff;
    --deep-white: whitesmoke;
    --background-white: #f2f4f8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font: size 0.9rem;
    font-weight: 400;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}
.btn {
    background-color: #00296b;
    border: none;
    padding: 6px 15px;
    border: 1px solid #00296b;
    font-weight: 500;
    border-radius: 5px;
    margin-right: 20px;
    color: white;
}
.btn:hover {
    background-color: #c2daff;
    color: #00296b;
}
/*=============================
    Dashboard
==============================*/
.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}
.dashboardBody {
    display: flex;
    background-color: var(--background-white);
}

#dashboard-main {
    flex: 60%;
    height: calc(100vh - 70px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-white);
}

/*=============================
    Front page
==============================*/

.login-signup-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*=============================
    Login Area
==============================*/
.login-signup {
    background: url("./assets/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}
.login-signup-form {
    margin: 20px 0;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #00296b;
}

.login-signup-title {
    margin-bottom: 15px;
}
.login-signup-form form {
    display: flex;
    flex-direction: column;
}

.login-signup-form form input,
.login-signup-form form select {
    width: 500px;
    padding: 10px 15px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.login-signup-form form button {
    background-color: #ddd;
    border: none;
    padding: 15px 15px;
    border: 1px solid #ddd;
    font-weight: 500;
    margin-bottom: 10px;
}
.login-signup-form form button:hover {
    background-color: #fff;
}
.login-signup-form form input[type="submit"] {
    background-color: #00296b;
    border: none;
    color: white;
    padding: 15px 15px;
    border: 1px solid #00296b;
    font-weight: 500;
}

.login-signup-form form input[type="submit"]:hover {
    background-color: #c2daff;
    color: #000;
    border: 1px solid #00296b;
}

.error {
    font-weight: 650;
    color: rgba(255, 0, 0, 0.685);
    margin-bottom: 10px;
}

.link-with-hover {
    color: #007bff; /* Default link color */
    text-decoration: none; /* Remove underline by default */
    transition: color 0.3s; /* Smooth transition for color change on hover */
    margin-bottom: 10px;

    /* Hover state */
    &:hover {
        color: #ff5500; /* Change color on hover */
    }
}

/* Dashboard Cards */
.dashboard-card {
    border: 1px solid #ddd;
    border-bottom: solid 3px #00296b;
    box-shadow: 10px 10px 12px 0px rgba(221, 221, 221, 1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 30px;
    background-color: var(--deep-white);
    width: calc(50% - 10px);
}

.dashboard-card table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}
.dashboard-card table tr:first-child td {
    background-color: #00296b;
    padding: 10px 10px;
    color: #fff;
}

.dashboard-card table tr td {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
.dashboard-card table tr td.td-link {
    padding: 10px 0;
}
.dashboard-card table tr td:first-child {
    width: 30%;
    vertical-align: top;
}
.dashboard-card table tr td:last-child {
    width: 70%;
    vertical-align: top;
}
.dashboard-card button,
.dashboard-card a {
    color: white;
}

.dashboard-card-full {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 30px;
    background-color: var(--deep-white);
    width: calc(50% - 10px);
}

.dashboard-card-full table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}
.dashboard-card-full table tr:first-child td {
    background-color: #00296b;
    padding: 10px 10px;
    color: #fff;
}

.dashboard-card-full table tr td {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
.dashboard-card-full table tr td:first-child {
    width: 30%;
    vertical-align: top;
}
.dashboard-card-full table tr td:last-child {
    width: 70%;
    vertical-align: top;
}
.dashboard-card-full button,
.dashboard-card-full a {
    color: white;
}

.filter-field {
    margin-top: 10px;
    margin: 10px 0;
}

.filter-field form select {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}
.filter-field form input[type="checkbox"] {
    vertical-align: middle;
    padding: 20px;
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.appoint-book-btn {
    background-color: #00296b;
    padding: 5px;
    text-align: left;
    border: 2px solid #00296b;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.appoint-book-btn h3 {
    font-family: poppins;
    font-weight: 400;
}

.appoint-book-btn a {
    color: white;
    text-decoration: none;
}
