.btn {
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
}

.btn-full {
    width: 100%;
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
}
