.appointment-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.take-new-appointment-btn {
    text-align: right;
    margin-right: 60px;
    margin-top: 20px;
}
.doc-upcoming-apoint-chk-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 60px;
    /* margin-bottom: 20px; */
}

/*upcoming appointmentpart*/
.doc-upcoming-apoint-check-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}

.doc-upcoming-apoint-check-heading {
    margin-bottom: 20px;
}

.appoint-tek-btn {
    background-color: #00296b;
    padding: 16px 30px;
    text-align: center;
    border: 2px solid #00296b;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.appoint-tek-btn h3 {
    font-family: poppins;
    font-weight: 500;
}

.appoint-tek-btn a {
    color: white;
    text-decoration: none;
}

.appoint-tek-btn:hover {
    background-color: #c2daff;
    color: black;
}
.appoint-tek-btn:hover a {
    background-color: #c2daff;
    color: black;
}

.doc-upcoming-appoint-check-cards {
    display: flex;
    flex-direction: column;
}

/*------media query for the upcoming-appointment header,button---*/

@media screen and (min-width: 576px) and (max-width: 768px) {
    /*----for medium devices-----*/
    .doc-upcoming-apoint-chk-part {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        padding: 10px 60px;
        /* margin-bottom: 20px; */
    }

    .doc-upcoming-apoint-check-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        /* display: flex;
        flex-direction: column-reverse;--------> by only using flex the heading button looks congested
        justify-content:space-around;*/
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .appoint-tek-btn {
        background-color: var(--color-primary-paste);
        padding: 10px;
        text-align: center;
        border: 2px solid var(--color-primary-paste);
        border-radius: 4px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
}

@media screen and (max-width: 576px) {
    /*----for small devices-----*/
    .doc-upcoming-apoint-chk-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 60px;
    }

    .doc-upcoming-apoint-check-header {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .appoint-tek-btn {
        background-color: var(--color-primary-paste);
        padding: 4px;
        text-align: center;
        border: 2px solid var(--color-primary-paste);
        border-radius: 4px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
}

/*-----end media query---*/

.doc-previous-apoint-chk-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 60px;
}

.doc-previous-apoint-check-heading {
    margin-bottom: 20px;
}

.doc-previous-appoint-check-cards {
    display: flex;
    flex-direction: column;
}
