/*--------------book Hospital seat page-----------*/

.BookHospitalSeat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 60px;
    /* margin-bottom: 20px; */
}

/* .BookHospitalSeatPart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

.filternavbar {
    padding: 10px 60px;
}

.FilterNavbarOptions {
    border: 1px solid var(--color-primary-paste);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: var(--color-primary-paste);
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}

.CustomSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
}

.filtertitle {
    font-family: poppins, sans-serif;
    font-weight: 500;
}

.BookHospitalCard {
    border-bottom: solid 1px var(--color-primary-paste);
    box-shadow: 10px 10px 12px 0px rgba(221, 221, 221, 1);
    margin-bottom: 30px;
    background-color: var(--deep-white);
}

.BookHospitalCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.BookHospitalCard2ndrow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    padding: 10px;
}
.BookHospitalCard1strow {
    background-color: #dbefec;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    padding: 10px;
}

.BookHospitalCard2ndrow h3 {
    text-align: start;
}

.BookHospitalBtn {
    background-color: var(--color-primary-paste);
    width: 150px;
    padding: 4px;
    text-align: center;
    border: 2px solid var(--color-primary-paste);
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.BookHospitalBtn h3 {
    font-family: poppins;
    font-weight: 400;
}

.BookHospitalBtn a {
    color: white;
    text-decoration: none;
}

.BookHospitalBtn:hover a {
    background-color: var(--color-light-paste);
    color: black;
}

/* //----------Media Query of hospital seat book------// */

@media screen and (min-width: 576px) and (max-width: 768px) {
    /*----for medium devices------*/
    .BookHospitalCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
    }

    .BookHospitalCard2ndrow,
    .BookHospitalCard1strow {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .BookHospitalCard2ndrow,
    .BookHospitalCard1strow h3 {
        text-align: start;
    }

    .BookHospitalBtn {
        background-color: var(--color-primary-paste);
        padding: 5px;
        width: 110px;
        text-align: center;
        border: 2px solid var(--color-primary-paste);
        border-radius: 4px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
}
.appoint-book-btn {
    background-color: var(--color-primary-paste);
    padding: 5px;
    text-align: center;
    border: 2px solid var(--color-primary-paste);
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.appoint-book-btn h3 {
    font-family: poppins;
    font-weight: 400;
}

.appoint-book-btn a {
    color: white;
    text-decoration: none;
}

.appoint-book-btn:hover a {
    background-color: var(--color-light-paste);
    color: black;
}
@media screen and (max-width: 576px) {
    /*----for smaller devices------*/
    .BookHospitalCard {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 2px;
    }

    .BookHospitalCard2ndrow,
    .BookHospitalCard1strow {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .BookHospitalCard1strow,
    .BookHospitalCard2ndrow h3 {
        text-align: start;
    }
    .BookHospitalBtn {
        background-color: var(--color-primary-paste);
        width: 100px;
        padding: 4px;
        text-align: center;
        border: 2px solid var(--color-primary-paste);
        border-radius: 4px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
}
