.view-allAppointments {
    padding: 10px 60px;
}

.all-appointment-heading {
    margin: 10px 0;
}

.appointment-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
