.bill-page {
    padding: 20px 60px;
}

.bill-page table {
    margin: 30px 0;
    width: 100%;
    border: 1px solid #666;
    border-collapse: collapse;
}
.bill-page table tr td {
    border: 1px solid #666;
    padding: 10px;
}

.bill-page table tr td:first-child {
    width: 20%;
}

.total-bill td {
    background-color: #c2daff;
}
