.seat-booking-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px 60px;
}

.reservation-type {
    display: flex;
    justify-content: space-around;
}

.reservation-type label,
.reservation-type input {
    margin-right: 10px;
}

.seat-booking-form input[type="date"],
.seat-booking-form input[type="submit"],
.seat-booking-form select {
    width: 100%;
    padding: 10px;
}

.seat-booking-form input[type="submit"] {
    background-color: #00296b;
    outline: 0;
    border: none;
    border: 2px solid #00296b;
    color: #fff;
}

.seat-booking-form input[type="submit"]:hover {
    background-color: #bad5ff;
    color: #000;
}

.doctorInfo {
    margin-top: 20px;
    width: 100%;
    padding: 10px 60px;
}
.doctorInfo > * {
    margin-bottom: 10px;
}

.reservationCateroyTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
.reservationCateroyTable th,
.reservationCateroyTable td {
    padding: 10px;
}

.additional_req {
    margin-top: 20px;
}

.additional_req p {
    margin-bottom: 10px;
}
.additional_req label {
    display: block;
}
.additional_req input {
    margin-right: 10px;
}

.address-field {
    width: 100%;
    margin-top: 20px;
}
.address-field input {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.custom-date-picker {
    width: 100%;
}
.custom-date-picker > div {
    width: 100% !important;
}

.custom-date-picker > div input {
    width: 100%;
    padding: 10px;
}

.time-slot-picker {
    width: 100%;
    margin: 10px 0;
}
