.seat-booking-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.reservation-type {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.seat-booking-form input[type="date"],
.seat-booking-form input[type="submit"] {
    margin-top: 10px;
    width: 300px;
    padding: 10px;
}

.seat-booking-form input[type="submit"] {
    background-color: #76d5cb;
    outline: 0;
    border: none;
    border: 2px solid #76d5cb;
}

.seat-booking-form input[type="submit"]:hover {
    background-color: #dbefec;
}
