.patient-profile-update-form {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.patient-profile-update-form input,
.patient-profile-update-form select,
.patient-profile-update-form textarea {
    padding: 10px;
    margin-bottom: 10px;
}

.patient-profile-update-form input:focus,
.patient-profile-update-form select:focus {
    outline: 0 !important;
    border: 2px solid var(--color-primary-paste);
}
.patient-profile-update-form input[type="submit"] {
    background-color: var(--color-primary-paste);
    outline: 0;
    border: none;
    border: 2px solid var(--color-primary-paste);
    color: #fff;
}
.patient-profile-update-form input[type="submit"]:hover {
    background-color: var(--color-light-paste);
    color: #000;
}
.date-gender {
    display: flex;
    justify-content: space-between;
}
.date-gender > * {
    flex: 0 49%;
}
