.patient-profile-update-form {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.patient-profile-update-form input,
.patient-profile-update-form select,
.patient-profile-update-form textarea {
    padding: 10px;
    margin-bottom: 10px;
}

.patient-profile-update-form input:focus,
.patient-profile-update-form select:focus {
    outline: 0 !important;
    border: 2px solid #00296b;
}
.patient-profile-update-form input[type="submit"] {
    background-color: #00296b;
    outline: 0;
    border: none;
    border: 2px solid #00296b;
    color: #fff;
}
.patient-profile-update-form input[type="submit"]:hover {
    background-color: #c2daff;
    color: #000;
}
.date-gender {
    display: flex;
    justify-content: space-between;
}
.date-gender div {
    flex: 0 49%;
}
.date-gender div input,
.date-gender div select {
    width: 100%;
}

.setting-info-table {
    border-collapse: collapse;
    border: 1px solid #000;
}
.setting-info-table input {
    width: 100%;
}
.setting-info-table tr td:first-child {
    width: 30%;
}
.setting-info-table tr td,
.setting-info-table tr th {
    padding: 10px;
}
.setting-info-table tr:first-child {
    background-color: #00296b;
    color: #fff;
}

.setting-info-table .table-category-name td {
    background-color: #c2daff;
}

.facility-row td {
    border-bottom: 2px double #000;
}
