@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {

    --color-info-dark: #7d8da1;
    --color-primary-paste: #76d5cb;
    --color-light-paste: #dbefec;
    --deep-white: whitesmoke;
    --background-white: #f2f4f8;

}

.dashboard {
    background: #76d5cb;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    appearance: none;
    list-style: none;
    box-sizing: border-box;
    transition: 0.2s;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.90rem;
    background: var(--background-white);
    user-select: none;
    /* overflow-x: hidden; */

}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font: size 0.90rem;
    font-weight: 400;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

/* .top-logo-banner {
    display: flex;
}

.logo {
    padding: 0px 40px 0px 0px;
}

.top-logo-banner span {
    margin-top: 6px;

} */

nav {
    background: #76d5cb;
    width: 100%;
    height: 70px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar-topright-part {
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 30px;
}

.navbar-topright-options .options {
    /*this is for alignment of the profile pic and the options*/

    display: flex;

    /* margin-right: 50px; */
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.navbar-topright-options .option-text {
    color: white;
}

.navbar-topright-options .nav-link {
    transition: all 300ms ease;
}

.nav-link:hover h3 {
    color: black;
}

.user-profile-pic {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;

}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;


}

.main {
    display: flex;

    background-color: var(--background-white);

}

aside {
    /* position: fixed;
    left: 0px; */
    width: 280px;
    height: calc(100vh - 70px);
    padding: 15px 14px;
    border-right: 1px solid black;
    background-color: whitesmoke;
    transition: 0.3s ease-in-out;
}

aside .sidebar-option {
    transition: all 300ms ease;
}

.sidebar-option {
    color: var(--color-info-dark);
    height: 50px;
    margin-top: 10px;

    display: flex;
    align-items: center;

}

.sidebar-option span {
    min-width: 40px;
}

aside .sidebar span {
    transition: all 300ms ease;
}

aside .sidebar-option.active {
    background: #dbefec;
    color: #76d5cb;
    /* margin-left: 0px; */
}

aside .sidebar-option.active::before {
    content: "";
    width: 6px;
    background: #76d5cb;
    height: 50px;
    margin: 0;

}

aside .sidebar-option span h3 {
    margin-left: 20px;

}

.sidebar-option:hover span,
.sidebar-option:hover h3 {
    color: #76d5cb;
    /* margin-left: 2rem; */

}

aside .sidebar a:last-child {
    /* position: fixed; */
    bottom: 2rem;
    width: 100%;
}

/* .top-logo-banner #close-btn:hover {

    color: #76d5cb;

} */




/*---------------- check appointment page--------------------- */


main {
    flex: 60%;
    height: calc(100vh - 70px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-white);
}

.doc-upcoming-apoint-chk-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 60px;
    /* margin-bottom: 20px; */
}

/*upcoming appointmentpart*/
.doc-upcoming-apoint-check-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}


.doc-upcoming-apoint-check-heading {
    margin-bottom: 20px;
}

.appoint-tek-btn {
    background-color: var(--color-primary-paste);
    /* color: white; */
    padding: 16px 30px;
    text-align: center;
    border: 2px solid var(--color-primary-paste);
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.appoint-tek-btn h3 {
    font-family: poppins;
    font-weight: 500;
}

.appoint-tek-btn a {
    color: white;
    text-decoration: none;
}

.appoint-tek-btn:hover a {
    background-color: var(--color-light-paste);
    color: black;

}

.doc-upcoming-appoint-check-cards {
    display: flex;
    flex-direction: column;

}

/*------media query for the upcoming-appointment header,button---*/

@media screen and (min-width: 576px) and (max-width: 768px) {

    /*----for medium devices-----*/
    .doc-upcoming-apoint-chk-part {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        padding: 10px 60px;
        /* margin-bottom: 20px; */
    }

    .doc-upcoming-apoint-check-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        /* display: flex;
        flex-direction: column-reverse;--------> by only using flex the heading button looks congested
        justify-content:space-around;*/
        margin-top: 30px;
        margin-bottom: 5px;
    }


    .appoint-tek-btn {
        background-color: var(--color-primary-paste);
        padding: 10px;
        text-align: center;
        border: 2px solid var(--color-primary-paste);
        border-radius: 4px;
        transition-duration: 0.4s;
        cursor: pointer;

    }
}

@media screen and (max-width: 576px) {

    /*----for small devices-----*/
    .doc-upcoming-apoint-chk-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 60px;
       
    }

    .doc-upcoming-apoint-check-header {

        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 5px;
    }


    .appoint-tek-btn {
        background-color: var(--color-primary-paste);
        padding: 4px;
        text-align: center;
        border: 2px solid var(--color-primary-paste);
        border-radius: 4px;
        transition-duration: 0.4s;
        cursor: pointer;

    }
}


 /*-----end media query---*/   


/*-----css for the single upcoming appointment cards---*/
.single-upappoint-card1,
.single-upappoint-card2 {

    border-bottom: solid 1px var(--color-primary-paste);
    box-shadow: 10px 10px 12px 0px rgba(221, 221, 221, 1);
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--deep-white);
}

.single-upappoint-card1_1strow,
.single-upappoint-card1_2ndrow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 10px; */

}


.single-upappoint-card1_1strow,
.single-upappoint-card1_2ndrow h3 {
    text-align: center;
}

/* //----------Media Query(upcoming appointment cards)----------------// */

@media screen and (min-width: 576px) and (max-width: 768px) { /*----for medium devices---*/
    .single-upappoint-card1,
    .single-upappoint-card2 {
        display: flex;
        justify-content: space-around;
    }

    .single-upappoint-card1_1strow,
    .single-upappoint-card1_2ndrow {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .single-upappoint-card1_1strow,
    .single-upappoint-card1_2ndrow h3 {
        text-align: start;
    }
}




@media screen and (max-width: 576px) {  /*------for small devices----*/
    .single-upappoint-card1,
    .single-upappoint-card2 {
        /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .single-upappoint-card1_1strow,
    .single-upappoint-card1_2ndrow {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .single-upappoint-card1_1strow,
    .single-upappoint-card1_2ndrow h3 {
        text-align:start;
    }
}
/*------end media query----*/


/*previous appointmentpart*/


.doc-previous-apoint-chk-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 60px;
}

.doc-previous-apoint-check-heading {
    margin-bottom: 20px;
}

.doc-previous-appoint-check-cards {
    display: flex;
    flex-direction: column;

}

.single-prevappoint-card1,
.single-prevappoint-card2 {

    border: solid 1px var(--color-primary-paste);
    /* box-shadow: 10px 10px 12px 2px lightblue; */
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--deep-white);
    color: var(--color-info-dark);
}

.single-prevappoint-card1_1strow,
.single-prevappoint-card1_2ndrow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 10px; */

}


.single-prevappoint-card1_1strow,
.single-prevappoint-card1_2ndrow h3 {
    text-align: center;
}

@media screen and (min-width: 576px) and (max-width: 768px) { /*----for medium devices---*/
    .single-prevappoint-card1,
    .single-prevappoint-card2 {
        display: flex;
        justify-content: space-around;
    }

    .single-prevappoint-card1_1strow,
    .single-prevappoint-card1_2ndrow {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .single-prevappoint-card1_1strow,
    .single-prevappoint-card1_2ndrow h3 {
        text-align: start;
    }
}

@media screen and (max-width: 576px) {  /*------for small devices----*/
    .single-prevappoint-card1,
    .single-prevappoint-card2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .single-prevappoint-card1_1strow,
    .single-prevappoint-card1_2ndrow {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .single-prevappoint-card1_1strow,
    .single-prevappoint-card1_2ndrow h3 {
        text-align:start;
    }
}

/*----------end media query for check Appointment page--------*/


/*--------------book Appointment page-----------*/


.take-appointment-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.filternavbar {
    padding: 10px 60px;
}

.filter-navbar-options {

    border: 1px solid var(--color-primary-paste);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: var(--color-primary-paste);
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
}

.filtertitle {
    font-family: poppins, sans-serif;
    font-weight: 500;
}

.single-bookappoint-card1 {

    border-bottom: solid 1px var(--color-primary-paste);
    box-shadow: 10px 10px 12px 0px rgba(221, 221, 221, 1);
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--deep-white);
}

.single-bookappoint-card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.single-bookappoint-card1_2ndrow,
.single-bookappoint-card1_1strow {
    display: flex;
    justify-content: space-evenly;
}

.single-bookappoint-card1_2ndrow h3 {
    text-align: center;
}

.appoint-book-btn {
    background-color: var(--color-primary-paste);
    padding: 5px;
    text-align: center;
    border: 2px solid var(--color-primary-paste);
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.appoint-book-btn h3 {
    font-family: poppins;
    font-weight: 400;
}

.appoint-book-btn a {
    color: white;
    text-decoration: none;
}

.appoint-book-btn:hover a {
    background-color: var(--color-light-paste);
    color: black;

}


/* //----------Media Query of book Appointment page----------------// */

@media screen and (min-width: 576px) and (max-width: 768px) {

    /*----for medium devices------*/
    .single-bookappoint-card1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .single-bookappoint-card1_2ndrow,
    .single-bookappoint-card1_1strow {
        /* display: flex;
    flex-direction: column;
    justify-content: space-around; ------> didnt used flex as the button looks uneven and takes unusual space*/
        display: grid;
        grid-template-rows: repeat(3, 0.5fr);
        grid-row-gap: 5px;

    }

    .single-bookappoint-card1_2ndrow h3 {
        text-align: start;
    }

    .appoint-book-btn {
        background-color: var(--color-primary-paste);
        padding: 5px;
        text-align: center;
        border: 2px solid var(--color-primary-paste);
        border-radius: 4px;
        transition-duration: 0.4s;
        cursor: pointer;


    }

}

@media screen and (max-width: 576px) {

    /*----for smaller devices------*/
    .single-bookappoint-card1 {
        display: grid;
    }

    .single-bookappoint-card1_2ndrow,
    .single-bookappoint-card1_1strow {
        display: grid;
        grid-template-rows: repeat(3, 0.5fr);
        grid-row-gap: 10px;

    }

    .single-bookappoint-card1_2ndrow h3 {
        text-align: start;
    }

    .appoint-book-btn {
        background-color: var(--color-primary-paste);
        padding: 5px;
        text-align: center;
        border: 2px solid var(--color-primary-paste);
        border-radius: 4px;
        transition-duration: 0.4s;
        cursor: pointer;


    }

}




/* //----------Media Query----------------// */

@media screen and (max-width:1200px) {
    aside {
        position: fixed;
        left: -280px
    }

    .aside-active {
        display: block;
        position: fixed;
        left: 0;
    }


}

@media screen and (max-width:1200px) {
    .hamburger-menu {
        display: block;
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px)rotate(45deg);

    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px)rotate(-45deg);

    }

    .navbar-topright-part {
        display: flex;
        align-items: center;
        margin-right: 5px;
        gap: 5px;
    }

    .navbar-topright-options .options {
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: #76d5cb;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .navitem {
        margin: 16px 0;
    }

    .options.active {
        left: 0;

    }


}

/*---------------Hospital Admission Check------------------------*/

main {
    flex: 60%;
    height: calc(100vh - 70px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-white);
}

.current-hospital-admission-check-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 60px;
    /* margin-bottom: 20px; */
}

/*------current hospital admission check part --------*/


.hospital-admission-check-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}


.hospital-admission-check-heading {
    margin-bottom: 20px;
}

.book-seat-btn {
    background-color: var(--color-primary-paste);
    /* color: white; */
    padding: 16px 30px;
    text-align: center;
    border: 2px solid var(--color-primary-paste);
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.book-seat-btn h3 {
    font-family: poppins;
    font-weight: 500;
}

.book-seat-btn a {
    color: white;
    text-decoration: none;
}

.book-seat-btn:hover a {
    background-color: var(--color-light-paste);
    color: black;

}



/*------media query for the current hospital admission header,button---*/

@media screen and (min-width: 576px) and (max-width: 768px) {

    /*----for medium devices-----*/
    .current-hospital-admission-check-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 60px;
        /* margin-bottom: 20px; */
    }

    .hospital-admission-check-header {
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between; */
        display: flex;
        /* flex-direction: column-reverse; */
        justify-content:space-between;
        margin-top: 30px;
        margin-bottom: 5px;
    }


    .book-seat-btn {
        background-color: var(--color-primary-paste);
        padding: 10px;
        text-align: center;
        border: 2px solid var(--color-primary-paste);
        border-radius: 4px;
        transition-duration: 0.4s;
        cursor: pointer;

    }
}

@media screen and (max-width: 576px) {

    /*----for small devices-----*/
    .current-hospital-admission-check-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 60px;
       
    }

    .hospital-admission-check-header {

        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 5px;
    }


    .book-seat-btn {
        background-color: var(--color-primary-paste);
        padding: 4px;
        text-align: center;
        border: 2px solid var(--color-primary-paste);
        border-radius: 4px;
        transition-duration: 0.4s;
        cursor: pointer;

    }
}


 /*-----end media query---*/   


/*-----css for the single hospital admission check cards---*/
.hospital-admission-check-cards {
    display: flex;
    flex-direction: column;

}
.single-admissionchk-card1,
.single-admissionchk-card2 {

    border-bottom: solid 1px var(--color-primary-paste);
    box-shadow: 10px 10px 12px 0px rgba(221, 221, 221, 1);
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--deep-white);
}

.single-admissionchk-card_1strow,
.single-admissionchk-card_2ndrow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 10px; */

}


.single-admissionchk-card_1strow,
.single-admissionchk-card_2ndrow h3 {
    text-align:start;
}

/* //----------Media Query(upcoming appointment cards)----------------// */

@media screen and (min-width: 576px) and (max-width: 768px) { /*----for medium devices---*/
    .single-admissionchk-card1,
    .single-admissionchk-card2 {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
        /* display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-column-gap:5px; */
    }

    .single-admissionchk-card_1strow,
    .single-admissionchk-card_2ndrow {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .single-admissionchk-card_1strow,
    .single-admissionchk-card_2ndrow h3 {
        text-align: start;
    }
}


@media screen and (max-width: 576px) {  /*------for small devices----*/
    .single-admissionchk-card1,
    .single-admissionchk-card2 {
        /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .single-admissionchk-card_1strow,
    .single-admissionchk-card_2ndrow {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .single-admissionchk-card_1strow,
    .single-admissionchk-card_2ndrow h3 {
        text-align:start;
    }
}
/*------end media query----*/


/*-----previous hospital history--------*/


.hospital-prev-book-chk-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 60px;
}

.hospital-prev-book-chk-heading {
    margin-bottom: 20px;
}

.hospital-prev-book-chk-cards {
    display: flex;
    flex-direction: column;

}

.single-prev-hospbook-card1
 {

    border: solid 1px var(--color-primary-paste);
    /* box-shadow: 10px 10px 12px 2px lightblue; */
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--deep-white);
    color: var(--color-info-dark);
}

.single-prev-hospbook-card_1strow,
.single-prev-hospbook-card_2ndrow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 10px; */

}


.single-prev-hospbook-card_1strow,
.single-prev-hospbook-card_2ndrow h3 {
    text-align: start;
}

@media screen and (min-width: 576px) and (max-width: 768px) { /*----for medium devices---*/
    .single-prev-hospbook-card1
 {
        display: flex;
        justify-content: space-around;
    }

    .single-prev-hospbook-card_1strow,
    .single-prev-hospbook-card_2ndrow {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .single-prev-hospbook-card_1strow,
    .single-prev-hospbook-card_2ndrow h3 {
        text-align: start;
    }
}

@media screen and (max-width: 576px) {  /*------for small devices----*/
    .single-prev-hospbook-card1,
    .single-prev-hospbook-card2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .single-prev-hospbook-card_1strow,
    .single-prev-hospbook-card_2ndrow {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .single-prev-hospbook-card_1strow,
    .single-prev-hospbook-card_2ndrow h3 {
        text-align:start;
    }
}

/*--------------book Hospital seat page-----------*/
.BookHospitalSeat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 60px;
    /* margin-bottom: 20px; */
}

/* .BookHospitalSeatPart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */


.filternavbar {
    padding: 10px 60px;
}

.FilterNavbarOptions {

    border: 1px solid var(--color-primary-paste);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: var(--color-primary-paste);
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}

.CustomSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
}

.filtertitle {
    font-family: poppins, sans-serif;
    font-weight: 500;
}

.BookHospitalCard {

    border-bottom: solid 1px var(--color-primary-paste);
    box-shadow: 10px 10px 12px 0px rgba(221, 221, 221, 1);
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--deep-white);
}

.BookHospitalCard {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.BookHospitalCard2ndrow,
.BookHospitalCard1strow {
 
    display: flex;
    justify-content: space-around;
}

.BookHospitalCard2ndrow h3{
    text-align:start;
}


.BookHospitalBtn {
    background-color: var(--color-primary-paste);
    width: 150px;
    padding: 4px;
    text-align:center;
    border: 2px solid var(--color-primary-paste);
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.BookHospitalBtn h3 {
    font-family: poppins;
    font-weight: 400;
}

.BookHospitalBtn a {
    color: white;
    text-decoration: none;
}

.BookHospitalBtn:hover a {
    background-color: var(--color-light-paste);
    color: black;

}


/* //----------Media Query of hospital seat book------// */

@media screen and (min-width: 576px) and (max-width: 768px) {

    /*----for medium devices------*/
    .BookHospitalCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
    }

    .BookHospitalCard2ndrow,
    .BookHospitalCard1strow {
        display: flex;
    flex-direction: column;
    justify-content: space-around;

    }

    .BookHospitalCard2ndrow,.BookHospitalCard1strow h3 {
        text-align:start;
    }

    .BookHospitalBtn {
        background-color: var(--color-primary-paste);
        padding: 5px;
        width:110px;
        text-align:center;
        border:2px solid var(--color-primary-paste);
        border-radius:4px;
        transition-duration:0.4s;
        cursor: pointer;
    }

}

@media screen and (max-width: 576px) {

    /*----for smaller devices------*/
    .BookHospitalCard{
        display: grid;
        grid-template-rows:repeat(1,1fr);
        grid-row-gap: 2px;

    }

    .BookHospitalCard2ndrow,
    .BookHospitalCard1strow{
       display: flex;
       flex-direction: column;
       justify-content:space-around;

    }
    .BookHospitalCard1strow,.BookHospitalCard2ndrow h3 {
        text-align:start;
    }
    .BookHospitalBtn {
        background-color: var(--color-primary-paste);
        width:100px;
        padding: 4px;
        text-align: center;
        border: 2px solid var(--color-primary-paste);
        border-radius: 4px;
        transition-duration:0.4s;
        cursor: pointer;
    }

}


